root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.{csproj,fsproj,vbproj,props,targets,nuspec}]
indent_size = 2

[*.{json,yml,yaml,xml,html,css,scss}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.{cs,fs}]
dotnet_sort_system_directives_first = true
csharp_new_line_before_open_brace = all
csharp_indent_case_contents = true
csharp_space_after_cast = false
csharp_prefer_braces = true:warning
